
body, html {
    
  
        /* background: linear-gradient(rgba(255, 255, 255, 0.372), rgba(255, 255, 255, 0.447)), url("../images/Questions\ Background.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   */
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        background-color: #f1edea;
    }







 
 /* Header  */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/childs\ white.jpg");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Syncopate';
  }

  h1{
      font-size: 50px;
  }

  /* Top Bar  */

.top-bar{
    min-height: 100px;
    background-color: white;
}

h3{
    font-family: 'Syncopate';
     color: rgb(77, 76, 76);  
     letter-spacing: 15%;
     font-size: 40px;
     padding-left: 50px;
     padding-top: 35px;
     padding-bottom: 25px;
 }
 
 h4{
    font-family: 'Syncopate';
    color: rgb(77, 76, 76);  
     font-size: 18px;
     padding-top: 45px;
     padding-bottom: 25px;
 }


/* game intro bar  */
#cover-image{
    /* max-width: 783px;
    max-height: 500px; */
    width: 100%;
    height: auto;
 }

 button{
    margin-top: 200px;
}
 .startBtn{
    color:white;
    background-color:rgb(145, 185, 145);
    min-width: 350px;
    margin-left: 0;
    margin-right: 0;
   border-color: white;
   text-align: center;
   font-family: 'Syncopate';
  

}

.start{
    
    margin-right: 0;
    margin-left: 0;
  
}

/* Game  */

/* question and timer font  */
p{
    font-size: 25px;
    font-family: 'Syncopate';
    }

p.correct, p.incorrect, p.answer{
    font-family: 'Syncopate';
    /* background-color: salmxon; */
    }
.gameBox{
    width: 100%;

}

.gameR{
    /* border: solid 1px salmon; */
    padding-top: 10px;
    max-width: 800px;
}

.game{
/* width: 960px; */
padding-left: 50px;
margin-left: 0;
margin-right: 0;
display: flex;
flex-direction: column;

font-family: 'Syncopate';
text-align: left;
margin-bottom: 150px;
width: 60%;
height:80%;
padding-top: 10px;
}


#timer{
    font-family: 'Syncopate';
    font-weight: 400px;
    color: white;
    background-color: rgb(145, 185, 145);
    text-align: center;
    font-weight: bold;
}
.strong {
    background-color: tomato;
    font-weight: bold;
    
}

.answer{
    background-color: rgb(145, 185, 145);
    font-family: 'Syncopate';
    text-align: left;
   
}

.answers:hover {
 background-color: rgb(145, 185, 145);
    
}

.answers {
    text-align: center;
    border: solid 1px rgb(145, 185, 145);
    color: black;
    border-radius: 5px;
    width: 200px;
    margin: 15px 25%;
    
    margin-right: auto;
    margin-left: 0; 
    font-size: 15px;

}

.image{
    max-width: 783px;
    max-height: 500px;
    
}


.correct, .incorrect, .timeUp {
    font-size: 30px;
    font-family: 'Syncopate';
}



@media screen and (max-width: 500px){
    p{
    margin: auto;
    text-align: center;
    }

    h4{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    
    h3{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    
    .start{
        margin: auto;        
    } 
    
    .startBtn{
      margin: 0;
      
    } 
    
    .gameBox{
    width: 100%;
    padding-bottom: 100px;
    }

    .game{ 
        width: 100%;  
        padding-left: 0;  
    } 

    .gameR{
      width: 100%;
    }

    #cover-image{
    width: 100%;
    }

    .image{
    width: 100%
    }
 
    .hero-text{
    margin: auto;
    }

    .answers {
    margin: auto;
    } 
}
